server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/microstay
    username: microstay
    password: microstay
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc.time_zone: UTC
  flyway:
    enabled: true
    locations: classpath:db/migration
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
logging:
  level:
    org.springframework.security: INFO
springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /v3/api-docs
management:
  endpoints:
    web:
      exposure:
        include: '*'
uploads:
  dir: uploads
app:
  keycloak:
    issuer-uri: http://keycloak:8080/realms/microstay
    jwk-set-uri: http://keycloak:8080/realms/microstay/protocol/openid-connect/certs
